<h3>Dashboard</h3>
<hr>
 
<div class="row">
 
    <div class="col-md-4">
        <div class="card text-center p-3">
            <h1><i class="bi bi-star-fill"></i></h1>
            <div class="card-body">
                <h1 id="totalSteps"></h1>
                <h3 id="totalKm"></h3>
                <p class="card-text text-center"></p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-center p-3">
            <h1><i class="bi bi-graph-up"></i></h1>
            <div class="card-body">
                <h1 id="avgSteps">123123</h1>
                <h3 id="avgKm">98.3 km</h3>
                <p class="card-text text-center">Average steps od users</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card text-center p-3">
            <h1><i class="bi bi-trophy-fill"></i></h1>
            <div class="card-body">
                <p class="card-text text-center">Top users</p>
                <table class="table" id="topUser">
                    <tr>
                        <td>1.</td>
                        <td class="text-start">
                            Béla <br> <small>bela@gamil.com </small>
                        </td>
                        <td class="text-end">12345 steps <br> <small>34,4 km</small></td>
                    </tr>
                    <tr>
                        <td>2.</td>
                        <td class="text-start">
                            Béla <br> <small>bela@gamil.com </small>
                        </td>
                        <td class="text-end">12345 steps <br><small>34,4 km</small></td>
                    </tr>
                    <tr>
                        <td>3.</td>
                        <td class="text-start">
                            Béla <br> <small>bela@gamil.com </small>
                        </td>
                        <td class="text-end">12345 steps <br><small>34,4 km</small></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>