<p class="d-inline-flex gap-1">
  <button class="btn btn-danger" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2"><i class="bi bi-person-fill"></i>&nbsp;&nbsp;Admins</button>
</p>
<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <div class="card card-body">
        <p>információ meg módósítható dolgok az adminnal</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample2">
      <div class="card card-body">
        <p>információ meg módósítható dolgok az adminnal</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample2">
      <div class="card card-body">
        <p>információ meg módósítható dolgok az adminnal</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample1">
      <div class="card card-body">
        <p>információ meg módósítható dolgok az adminnal</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample2">
      <div class="card card-body">
        <p>információ meg módósítható dolgok az adminnal</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapseExample2">
      <div class="card card-body">
        <p>információ meg módósítható dolgok az adminnal</p>
      </div>
    </div>
  </div>
</div>
<p class="d-inline-flex gap-1">
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapsee" aria-expanded="false" aria-controls="multiCollapseExamplee1 multiCollapseExamplee2"><i class="bi bi-person-fill"></i>&nbsp;&nbsp;Users</button>
</p>
<div class="row">
  <div class="col">
    <div class="collapse multi-collapsee" id="multiCollapseExamplee1">
      <div class="card card-body">
        <p>információ meg módósítható dolgok a userrel</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="collapse multi-collapsee" id="multiCollapseExamplee2">
      <div class="card card-body">
        <p>információ meg módósítható dolgok a userrel</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="collapse multi-collapsee" id="multiCollapseExamplee2">
      <div class="card card-body">
        <p>információ meg módósítható dolgok a userrel</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="collapse multi-collapsee" id="multiCollapseExamplee1">
      <div class="card card-body">
        <p>információ meg módósítható dolgok a userrel</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="collapse multi-collapsee" id="multiCollapseExamplee2">
      <div class="card card-body">
        <p>információ meg módósítható dolgok a userrel</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="collapse multi-collapsee" id="multiCollapseExamplee2">
      <div class="card card-body">
        <p>információ meg módósítható dolgok a userrel</p>
      </div>
    </div>
  </div>
</div>