header {
    padding: 20px;
    text-align: center;
    background-color: var(--bs-secondary-bg);
}

footer {
    text-align: center;
    padding: 10px;
    font-size: 70%;
    letter-spacing: 3px;
    border-top: 1px dotted var(--bs-secondary);
}

main {
    padding: 20px;
}