header {
    padding: 20px;
    text-align: center;
    background-color: var(--bs-secondary-bg);
}

footer {
    text-align: center;
    padding: 10px;
    font-size: 70%;
    letter-spacing: 3px;
    border-top: 1px dotted var(--bs-secondary);
}

main {
    padding: 20px;
}

strong {
    font-size: 150%;
}

h1 {
    color: var(--bs-primary);
}

h2 {
    color: var(--bs-secondary);
}

p {
    text-align: justify;
    line-height: 200%;
}

.logo {
    font-size: 400%;
}

.dashrow {
    background-color: var(--bs-secondary-bg);
    border: 2px solid rgb(39, 39, 39);
}

.dashrow button {
    margin: 10px;
}