<h3>Home</h3>
<hr>
<div class="row">
    <div class="col-lg-4 text-center">
        <h1><i class="bi bi-person-walking logo"></i></h1>
        <h1>Welcome to</h1>
        <h2>Stepcounter App 2026</h2>
    </div>
    <div class="col-lg-8">
        <h1>Every Step Counts</h1>

        <p>
            Stay active, build healthy habits, and keep track of your daily movement with ease.
        </p>
        <p>
            Whether you're taking a short walk, heading to work, or reaching your daily goal, every step brings you
            closer to a healthier and more active lifestyle.
        </p>
 
        <h2>
            Track. Move. Achieve.
        </h2>
 
        <p>
            Set your daily step goal, monitor your progress, and stay motivated every day.
        </p>
        <p>
            Your journey starts with one step.
        </p>

        <button class="btn btn-primary">Get Started</button>
    </div>
</div>