<div class="col-lg-6 offset mb-3">
<h3>Registration</h3>
<hr>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="name" placeholder="">
        <label for="name">Username</label>
    </div>
   
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="email" placeholder="name@example.com">
        <label for="email">E-mail address</label>
    </div>
   
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="passwd" placeholder="Password">
        <label for="passwd">Password</label>
    </div>
   
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="confirm" placeholder="Password">
        <label for="confirm">Confirm password</label>
    </div>
 
   
    <button type="button" class="btn btn-primary" onclick="registration()"><i class="bi bi-person-fill-gear"></i> &nbsp;Registration</button>
 
        <p>Already registered? <strong><a href="#" onclick="navigate('views/users/login')">Sign in!</a></strong></p>
</div>