<div class="col-lg-6 offset-lg-3">

    <h3>Manage my steps</h3>
    <hr>

    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="name" placeholder="">
        <label for="name">Username</label>
    </div>

    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="email" placeholder="">
        <label for="email">Email address</label>
    </div>

    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="password" placeholder="">
        <label for="password">Password</label>
    </div>

    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="confirm" placeholder="">
        <label for="confirm">Confirm password</label>
    </div>

    <button type="button" class="btn btn-primary mb-3"><i class="bi bi-person-fill-add"></i>&nbsp;&nbsp;Registration</button>

    <p>Already registered? Please <strong><a href="#" onclick="navigate('users/login')">Sign in!</a></strong></p>

</div>